@media (max-width: 1200px) {
  .menu__link {
    font-size: 13px;
  }

  .header__info-about div {
    margin-top: 5px;
  }

  .coast__img {
    font-size: 11px;
    line-height: 10px;
    padding: 8px 6px;
  }

  .coast {
    width: 160px;
  }

  .coast a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social__text {
    padding-bottom: 2px;
    font-size: 11px;
  }

  .social__text::before {
    top: 5px;
    left: 7px;
  }

  .social__link-item {
    width: 22px;
    height: 31px;
  }

  .social__link-item svg {
    width: 100%;
    padding: 5px 0;
    height: 78%;
  }

  .header__info-about {
    width: 190px;
    font-size: 11px;
    line-height: 14px;
  }

  .info__tell {
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
  }

  .tell-me {
    text-align: left;
  }

  .main {
    padding-top: 35px;
    padding-bottom: 0;
  }

  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__question {
    display: none;
  }

  .main__items-wrapper {
    height: 155px;
    overflow: hidden;
  }

  .main__items-wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .main__items {
    padding: 0px 55px 10px 10px;
    border-radius: 30px 30px 0 0;
    margin-top: 65px;
  }

  .main__items.active {
    margin: 50px auto 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 35px;
    background-color: #fff;
  }

  .main__items.active .more__btn {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .main__item:first-child {
    display: block;
    position: relative;
  }

  .main__item::before {
    background-image: none;
  }

  .more {
    position: relative;
    display: block;
  }
  .more__btn {
    display: block;
    position: absolute;
    padding-top: 4px;
    content: "+";
    top: -28px;
    left: 171px;
    width: 30px;
    height: 29px;
    background-color: #f38120;
    border-radius: 20px;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    -webkit-animation: radial-pulse 1s infinite;
            animation: radial-pulse 1s infinite;
  }
}
@-webkit-keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(243, 129, 32, 0.5);
            box-shadow: 0 0 0 0px rgba(243, 129, 32, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 129, 32, 0);
            box-shadow: 0 0 0 10px rgba(243, 129, 32, 0);
  }
}
@keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(243, 129, 32, 0.5);
            box-shadow: 0 0 0 0px rgba(243, 129, 32, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(243, 129, 32, 0);
            box-shadow: 0 0 0 10px rgba(243, 129, 32, 0);
  }
}
@media (max-width: 992px) {
  .menu {
    display: none;
  }

  .logo {
    width: 80px;
  }

  .burger {
    display: block;
    font-size: 35px;
  }

  .header__info-about {
    display: none;
  }

  .coast, .social {
    display: none;
  }

  .info__tell {
    font-size: 14px;
  }

  .info__time {
    font-size: 7px;
    padding-bottom: 0px;
  }

  .tell-me span {
    font-size: 10px;
    text-align: center;
  }

  .logo img {
    width: 100%;
    margin-left: 15px;
  }

  .header__info-item {
    text-align: center;
  }

  .header__info.active, .menu__items.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__info.active .header__info-about, .header__info.active .social, .header__info.active .coast, .header__info.active .menu {
    display: block;
  }

  .header__info.active .logo {
    position: absolute;
    left: 0;
    width: 80px;
  }

  .header__info.active .header__info-item {
    position: absolute;
    right: 80px;
  }

  .header__info.active .header__info-about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 280px;
  }

  .header__info.active .coast {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 190px;
    margin-top: 10px;
  }
  .header__info.active .coast a {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .header__info.active .coast .coast__img {
    margin-left: 10px;
  }

  .header__info.active .social {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 130px;
    margin-top: 10px;
  }
  .header__info.active .social .social__link-item {
    width: 30px;
    height: 38px;
  }
  .header__info.active .social .social__text {
    margin-bottom: 5px;
  }
  .header__info.active .social .social__link-item svg {
    padding: 6px 0;
    height: 80%;
  }

  .menu.current {
    display: block;
    position: absolute;
    left: 50%;
    top: 196px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-bottom: 0;
  }

  .header__info.active .closes {
    display: block;
    position: absolute;
    right: 12px;
    top: 20px;
    font-size: 26px;
  }

  .menu-bg {
    background-color: #EDF2F5;
    height: 100vh;
  }

  .main__info-title {
    font-size: 45px;
  }

  .main__info {
    margin-left: 0;
  }

  .btn {
    padding: 24px 36px 26px 30px;
  }

  .btn span {
    margin-right: 16px;
  }
}
@media (max-width: 767px) {
  .main__info-title {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }

  .main__info-btns {
    width: 276px;
    margin: 0 auto 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .btn {
    width: 100%;
    padding: 14px 50px 15px 42px;
    margin-bottom: 14px;
  }

  .btn span {
    margin-right: 0;
    font-size: 10px;
    line-height: 16px;
  }

  .btn img {
    width: 14px;
  }
}
@media (max-width: 480px) {
  .main__info-title {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .main__info-text img {
    width: 37px;
  }

  .main__info-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 17px;
    width: 186px;
  }

  .main__info-text span {
    margin-left: 5px;
    font-size: 13px;
    line-height: 16px;
  }
}